DOMAIN=de.domain.com
PROXY_PASS=http://1.1.1.1:0000
EMAIL=mail@gmail.com
STAGING=0 # 1 для тестирования

CF_API_TOKEN=
CERTBOT_IMAGE=certbot/dns-cloudflare

DNS_PLUGIN=dns-cloudflare
DNS_CREDENTIALS=/secrets/cloudflare.ini
DNS_PROPAGATION_SEC=60